header {
    display: flex;
    height: 40px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    justify-content: space-evenly;
}
.box1{
    border: 5px white;
    height: 20px;
    width: 30px;
    
}