.Ecuries{
    position: relative;
    width: 100%;
    height: 300vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Alpine{
    width: 500px;
    height: 300px;
    background-color: #1c4f80;
    border-radius: 15px;
    margin: 2%;
    margin-top: 10%;
    
}