header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    justify-content: space-evenly;
    z-index: 999;
}
header a:link, a:visited{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
header a:link:active, a:visited:active{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.button{
    border: 1px white solid;
    background-color: red;
    padding:3px 3px;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.heroSection {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.VideoF1 {
    z-index: 0;
    position: fixed;
    overflow: hidden;
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.imageFond {
    z-index: 0;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box1 {
    display: flex;
    border: 1px white solid;
    height: 30px;
    width: 65px;
    background-color: red;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: flex;
    border: 1px white solid;
    height: 30px;
    width: 80px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.box3 {
    display: flex;
    border: 1px white solid;
    height: 30px;
    width: 78px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.box4 {
    display: flex;
    border: 1px white solid;
    height: 30px;
    width: 60px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.ombreVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.205), rgb(0, 0, 0));
    align-items: flex-end;
    display: flex;
}

.Actualités {
    position: absolute;
    left: 60px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Actualités p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    font-size: 70px;
    height: 100px;
    margin: 0;
    margin-left: 2%;
}

.Actualités hr {
    width: 450px;
    color: white;
    background-color: white;
    height: 3px;
}

.newsSect {
    display: block;
    width: 100%;
    height: 550px;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    position: relative;
    z-index: 1;
}

.newsSect p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.sponsorsF1 {
    width: 100%;
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #1c1c25;
}

.sponsorsF1 p {
    padding: 20px 5%;
    width: 100%;
}

.sponsorsF1 a {
    padding: 3% 2%;
}

.sponsorsF1Part2 {
    width: 100%;
    display: flex;
    position: relative;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #303037;
}

.sponsorsF1Part2 img {
    background-color: green;
    padding: 2% 2%;
}

.sponsorsF1Part3 {
    width: 100%;
    display: flex;
    position: relative;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #47464c;
}

.sponsorsF1Part3 img {
    padding: 2% 2%;
}