.CalendrierBackground {
    width: 100%;
    background: linear-gradient(135deg, rgba(204, 0, 0, 1) 0%, rgba(66, 34, 34, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
}

.CalendrierHeader {
    display: flex;
    position: relative;
    margin-left: 0;
    padding-top: 100px;
    width: 100%;
    flex-direction: column;
}

.CalendrierHeader p {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 5%;
}

.CalendrierHeader hr {
    height: 3px;
    background-color: white;
    width: 50vw;
    margin-top: 0;
    position: relative;
    align-self: flex-start;
    border: none;
    margin-left: 5%;
}

.Calendrier {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 2% 5%;
    box-sizing: border-box;
}

.Course {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    flex-direction: column;
    box-sizing: border-box;
}

.Course p {
    margin-bottom: 0;
    margin-left: 1vh;
}

.Localite {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 1px;
}

.NomGP {
    margin-top: 0.5%;
    font-weight: 700;
}

.Dates {
    font-weight: bold;
    font-size: larger;
    margin-top: 30%;
    margin-left: 1vh;
}

.Course img {
    position: absolute;
    width: 20%;
    bottom: 1vh;
    right: 1vh;
    max-width: 100px;
}

@media (max-width: 600px)  {
    .CalendrierHeader {
        padding-top: 70px;
    }

    .CalendrierHeader p {
        font-size: 5vh;
    }

    .CalendrierHeader hr {
        width: 200px;
    }

    .Calendrier {
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 3% 4%;
    }}